html body {
    height: 100%;
}
#centre {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#logo {
    margin-top: 250px;
    padding-bottom: 10px;
}
#bar {
    display: inline-flex;
    height: 40px;
    width: 582px;
    padding: 0 20px 0 20px;
    border: 1px solid gainsboro;
    border-radius: 24px;
}
.glass {
    display: inline-flex;
    width: 16px;
    height: 16px;
    padding-top: 0.8em;
    padding-right: 0.1em;
    opacity: 0.5;
}
.txt {
    display: inline-flex;
    height: 40px;
    width: 500px;
    padding: 0 10px 0 10px;
    outline: none;
    border: none;
}
.microphone {
    display: inline-flex;
    align-content: flex-end;
    width: 20px;
    height: 30px;
    padding-top: 0.3em;
    padding-left: 2.8em;
}
#buttons {
    padding-top: 20px;
}
.searchbutton {
    height: 35px;
    min-width: 54px;
    border: 1px solid white;
    border-radius: 4px;
    color: gray;
    text-align: center;
    margin-right: 5px;
}
.luckybutton {
    height: 35px;
    min-width: 54px;
    border: 1px solid white;
    border-radius: 4px;
    color: gray;
    text-align: center;
    margin-left: 5px;
}
#topbar {
    top: 16px;
    position: relative;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
#topleft {
    position: relative;
    margin: 7px 0 0 10px;
    float: left;
}
#topleft ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 10px; 
}
#topleft li {
    padding-right: 15px;
}
#topleft a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
#topleft a:hover {
    text-decoration: underline;
}
#topright {
    position: relative;
    margin: 7px 0 0 10px;
    float: right;
}    
#topright ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}
#topright li {
    padding-left: 15px;
}
#topright a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
#topright a:hover {
    text-decoration: underline;
}
#dots {
    width: 20px;
    height: 20px;
    opacity: 0.5;
}
#bottombar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}
#bottomleft {
    position: relative;
    margin: 7px 0 0 10px;
    float: left;
}
#bottomleft ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-bottom: 10px;
}
#bottomleft li {
    padding-right: 15px;
}
#bottomleft a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
#bottomleft a:hover {
    text-decoration: underline;
}
#bottomright {
    position: relative;
    margin: 7px 0 0 10px;
    float: right;
}
#bottomright ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    padding-bottom: 10px;
}
#bottomright li {
    padding-left: 15px;
}
#bottomright a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
#bottomright a:hover {
    text-decoration: underline;
}