img {
    position: absolute;
    height: 90px;
    width: 270px;
    left: 50%;
    margin-left: -135px;
    top: 30%;
    margin-top: -50px;
}
.searchbar {
    position: absolute;
    border: 1px solid gainsboro;
    border-radius: 20px;
    height: 30px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 36%;
}
.searchbutton {
    position: absolute;
    height: 35px;
    min-width: 54px;
    left: 45%;
    margin-left: -25px;
    top: 41%;
    border: 1px solid white;
    border-radius: 4px;
    color: gray;
    text-align: center;
}
.lucky {
    position: absolute;
    left: 51%;
    height: 35px;
    min-width: 54px;
    margin-left: -25px;
    top: 41%;
    border: 1px solid white;
    border-radius: 4px;
    color: gray;
    text-align: center;
}
#topbar {
    top: 16px;
    position: relative;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
#topleft {
    position: relative;
    margin: 7px 0 0 10px;
    float: left;
}
#topleft ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 10px; 
}
#topleft li {
    padding-right: 15px;
}
#topleft a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
#topleft a:hover {
    text-decoration: underline;
}
#topright {
    position: relative;
    margin: 7px 0 0 10px;
    float: right;
}    
#topright ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}
#topright li {
    padding-left: 15px;
}
#topright a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
#topright a:hover {
    text-decoration: underline;
}
#bottombar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}
#bottomleft {
    position: relative;
    margin: 7px 0 0 10px;
    float: left;
}
#bottomleft ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-bottom: 10px;
}
#bottomleft li {
    padding-right: 15px;
}
#bottomleft a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
#bottomleft a:hover {
    text-decoration: underline;
}
#bottomright {
    position: relative;
    margin: 7px 0 0 10px;
    float: right;
}
#bottomright ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    padding-bottom: 10px;
}
#bottomright li {
    padding-left: 15px;
}
#bottomright a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
#bottomright a:hover {
    text-decoration: underline;
}